body {
  /* 60px to make the container go all the way to the bottom of the topbar */
  padding-top: 60px;
}

ul.columns {
  -webkit-column-rule-color: #eee;
  -webkit-column-rule-style: solid;
  -webkit-column-rule-width: 1px;
  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  column-width: 250px;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  column-rule-color: #eee;
  column-rule-style: solid;
  column-rule-width: 1px;
}
.unstyled.text li {
  display: inline-block;
  width: 96px;
}
#about {
  border-right: 1px #eee;
}

/* Custom icons */
[class$="-icon"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
}
.phone-icon:before { content: "\260F";}

.text .phone-icon:before {
  color: black;
  padding-right: 4px;
}

.coffee-icon span { text-indent: -999em; }
.coffee-icon { content: url(/img/coffee-icon.png); }
