
#contact i[class^="icon-"],
.icon-gravatar {
    background-image: url(/img/sprites.png);
}

#contact [class^="icon-"] {
    height: 16px;
    width: 16px;
}
.icon-facebook{
	background-position: 0 -2px ;
}

.icon-twitter{
	background-position: -21px -2px ;
}

.icon-linkedin{
	background-position: -1px -22px ;
}

.icon-github{
	background-position: -2px -51px ;
}

.icon-gmail{
	background-position: -42px -2px ;
}

.icon-googleplus{
	background-position: -22px -21px ;
}

.icon-forrst{
	background-position: -24px -52px ;
}

.icon-wordpress{
	background-position: -52px -24px ;
}

.icon-tumblr{
	background-position: -74px -24px ;
}

.icon-coffee{
	background-position: -53px -51px ;
}

.icon-me{
	background-position: -78px -50px ;
}

.icon-flickr{
	background-position: -80px -1px ;
}

.icon-phone{
	background-position: -63px -2px ;
}

.icon-gravatar{
	background-position: -98px 0;
	width: 80px;
	height: 80px;
}

